<table class="table table-stripped table-hover">
  <thead>
    <tr>
      <th>Glicemia</th>
      <th>Dia</th>
      <th>Hora</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="measurement in mc.data">
      <td>{{measurement.glicemy}}</td>
      <td>{{measurement.date}}</td>
      <td>{{measurement.time}}</td>
    </tr>
    </body>
</table>
<%= angular_safe_link_to(:new_user_measurement) do %>
  Nova Medida
<% end %>
