<form>
  <dt><label for="glicemy">Glicemia</dt>
  <dd><input name="glicemy" id="glicemy" value="{{mc.data.glicemy}}" type="number"></dd>

  <dt><label for="date">Dia</dt>
  <dd><input name="date" id="date" value="{{mc.data.date}}"></dd>

  <dt><label for="time">Hora</dt>
  <dd><input name="time" id="time" value="{{mc.data.time}}"></dd>
  <input type="checkbox" name="current_time" id="current_time"
         ng-model="mc.autoUpdate"
         ng-change="mc.toggleClock()">
  <label for="current_time">Horario atual</label>
</form>
