<form>
  <dt><label for="glicemy">Glicemia</dt>
  <dd><input name="glicemy" id="glicemy" ng-model="mc.data.glicemy" type="number"></dd>

  <dt><label for="date">Dia</dt>
  <dd><input name="date" id="date" ng-model="mc.data.date"></dd>

  <dt><label for="time">Hora</dt>
  <dd><input name="time" id="time" ng-model="mc.data.time"></dd>
  <input type="checkbox" name="current_time" id="current_time"
         ng-model="mc.autoUpdate"
         ng-change="mc.toggleClock()">
  <label for="current_time">Horario atual</label>
  <button ng-click="mc.save()">Salvar</button>
</form>
