<div class="row"i ng-controller="User.Controller as usersController">
  <div class="col-md-3 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Pacientes
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="user in usersController.users">
            <%= angular_safe_link_to(:user_measurements, user_id: "{{user.id}}") do %>
              {{user.name}}</a>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
