<div class="row">
  <div class="col-md-3 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Pacientes
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">
            <a href="#/users/:user_id/measurements">User Name</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
